@import 'styles/colors';

.badge {
  background: #5c7080;
  color: #fff;
  position: relative;
  border-radius: inherit;
  padding: 5px;
  svg {
    width: 13px;
    height: 13px;
  }
}

.required {
  color: $placeholder-color;
  font-size: 1.1rem;
  vertical-align: text-bottom;
  line-height: 0.6rem;
}
