@import 'styles/colors';

.root {
  display: flex;
  align-items: center;
  position: relative;
}

.icon {
  border-radius: 50%;
  min-width: 40px;
  min-height: 40px;
  padding: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  svg {
    width: 22px;
    height: 22px;
    color: $primary-color;
    transition: color 1.4s ease;
  }
}

.badge {
  position: absolute;
  border-radius: 50%;
  right: 0;
  bottom: 0;
}

.ellipse {
  stroke-width: 1.75;
  fill: transparent;
}

.circle {
  height: 60px;
  width: 60px;
  .background {
    stroke: transparent;
    transition: all 200ms ease;
    @extend .ellipse;
  }
  .foreground {
    stroke-dasharray: 377;
    stroke-dashoffset: 0;
    stroke: $primary-color;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
    transition: all 800ms ease;
    @extend .ellipse;
  }
}

.disabled {
  .icon {
    svg {
      color: $placeholder-color;
    }
  }

  .background {
    stroke: lightgray;
  }

  .foreground {
    transform: rotate(-270deg);
    stroke-dashoffset: 377;
  }
}

.large {
  .icon {
    svg {
      width: 35px;
      height: 35px;
    }
  }
  .circle {
    height: 72px;
    width: 72px;
  }
}
