@import 'styles/colors';

.grid {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  max-width: 250px;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
  svg {
    width: 22px;
    height: 22px;
    color: $secondary-color;
    pointer-events: none;
  }
  span {
    pointer-events: none;
  }
}

.item {
  margin: 4px;
  padding: 8px;
  * {
    pointer-events: none;
  }
  > div:global(.bp3-text-overflow-ellipsis) {
    display: none;
  }
}
