$primary-color: #00c7c7;
$primary-color-dark1: #16999b;
$secondary-color: #2c393f;

// $primary-color: #ee0979;
// $primary-color-dark1: #c2206e;
// $secondary-color: #256eb0;

$outline-color: #ededed;

$placeholder-color: #a5afb7;

$categories-colors: #8a5458, #f2d06c, #0253b3, #ca89fc;
