// $primary-color: #00c7c7;
// $primary-color-dark1: #16999b;
// $secondary-color: #2c393f;

$primary-color: #f5534f;
$primary-color-dark1: #9c496b;
$secondary-color: #313a87;

$outline-color: #ededed;

$placeholder-color: #a5afb7;

$categories-colors: #00c7c7, #f2d06c, #0253b3, #ca89fc;
