@import 'styles/colors';

.baseInput {
  width: 100%;
  border-radius: 5px;
  border: none;
  background: $outline-color;
  height: auto;
  padding: 5px 5px 5px 12px;
  vertical-align: middle;
  line-height: 30px;
  font-size: 0.9rem;
  box-shadow: none;
  &:focus {
    box-shadow: 0 0 0 1px $primary-color, 0 0 0 3px rgba($primary-color, 0.3),
      inset 0 1px 1px rgba(16, 22, 26, 0.2);
  }
}
