@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/input';

.todoIcon {
  width: 100%;
  text-align: center;
  padding: 1rem 0 0.5rem;
  display: flex;
  justify-content: center;
  span {
    &:global(.bp3-popover-target) {
      cursor: pointer;
      border-radius: 50%;
      background: $outline-color;
      &:hover {
        background: darken($outline-color, 2%);
      }
      &:global(.bp3-popover-open) {
        box-shadow: 0 0 0 1px $primary-color, 0 0 0 3px rgba(27, 135, 138, 0.3),
          inset 0 1px 1px rgba(16, 22, 26, 0.2);
      }
    }
  }
}

.form {
  padding: 0.5rem 1.5rem 1rem;
  > div:not(:first-child) {
    margin: 8px 0;
    width: 100%;
  }
}

.date {
  display: flex;
  > div:first-of-type {
    flex: 1;
  }
  label {
    margin: 0;
  }
  :global(.bp3-popover-target) {
    width: 100%;
    input {
      @extend .baseInput;
    }
  }
  :global(.bp3-popover-target:hover) {
    input {
      background: darken($outline-color, 2%);
    }
  }
}

.allDay {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 5px;

  :global(.bp3-control.bp3-switch
      input:not(:checked)
      ~ .bp3-control-indicator) {
    background: $outline-color;
  }

  :global(.bp3-control.bp3-switch:hover
      input:not(:checked)
      ~ .bp3-control-indicator) {
    background: darken($outline-color, 2%);
  }

  :global(.bp3-control.bp3-switch input:checked ~ .bp3-control-indicator) {
    background: $primary-color-dark1;
  }
}

.category {
  span:global(.bp3-popover-target) {
    width: 100%;
  }
  input {
    cursor: pointer;
  }
}

@include categories-colors;

.saveButton:not([disabled]) {
  color: $primary-color-dark1 !important;
  font-weight: 500;
  &:hover {
    background: rgba($primary-color-dark1, 0.1) !important;
  }
  &:active {
    background: rgba($primary-color-dark1, 0.15) !important;
  }
}

.hint {
  font-size: 0.7rem;
  color: $placeholder-color;
  vertical-align: super;
}

.badge {
  background: #b5b5b5;
  color: #fff;
  position: relative;
  border-radius: inherit;
  padding: 5px;
  svg {
    width: 13px;
    height: 13px;
  }
}
