@import 'styles/colors';
@import 'styles/input';

.todoIcon {
  width: 100%;
  padding-bottom: 0.2rem;
  display: flex;
  justify-content: center;
  span {
    z-index: 0;
    &:global(.bp3-popover-target) {
      cursor: pointer;
      border-radius: 50%;
      background: $outline-color;
      &:hover {
        background: darken($outline-color, 2%);
      }
      &:global(.bp3-popover-open) {
        box-shadow: 0 0 0 1px $primary-color,
          0 0 1px 3px rgba($primary-color, 0.3),
          inset 0 1px 1px rgba(16, 22, 26, 0.2);
      }
    }
  }
}

.form {
  padding: 0 3.5rem 1rem;
  > div:not(:first-child) {
    margin: 6px 0;
    width: 100%;
  }
  > div:last-of-type {
    margin-bottom: 5px;
  }
}

.date {
  display: flex;
  > div:first-of-type {
    flex: 1;
  }
  label {
    margin: 0;
  }
  :global(.bp3-popover-target) {
    width: 100%;
    input {
      @extend .baseInput;
    }
  }
  :global(.bp3-popover-target:hover) {
    input {
      background: darken($outline-color, 2%);
    }
  }
}

.allDay {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 5px;

  :global(.bp3-control.bp3-switch
      input:not(:checked)
      ~ .bp3-control-indicator) {
    background: $outline-color;
  }

  :global(.bp3-control.bp3-switch:hover
      input:not(:checked)
      ~ .bp3-control-indicator) {
    background: darken($outline-color, 2%);
  }

  :global(.bp3-control.bp3-switch input:checked ~ .bp3-control-indicator) {
    background: $primary-color;
  }
}

.category {
  span:global(.bp3-popover-target) {
    width: 100%;
  }
  input {
    cursor: pointer;
  }
}

.saveButton:not([disabled]) {
  color: #fff !important;
  border-radius: 4px;
  background-color: $primary-color !important;
  font-weight: 500;
  margin-top: 13px;
  &:hover {
    background: rgba($primary-color, 0.9) !important;
  }
  &:active {
    background: rgba($primary-color, 0.95) !important;
  }
}

.hint {
  font-size: 0.8rem;
  color: $placeholder-color;
  vertical-align: super;
}
