@import 'styles/colors';

.root {
  display: flex;
  flex-flow: column;
  height: 100%;
  background: linear-gradient(to right, #fff 35.47%, #f5f5f5 65.62%);
}

.subtitleWrapper {
  display: flex;
  z-index: 1;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 5px;
}

.totals {
  color: darken($outline-color, 50);
  padding: 5px 19px;
  background: #fff;
  border-radius: 8px;
}

.noTasks {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5rem;
  > p {
    margin-top: 15px;
    color: darken($outline-color, 20);
  }
  svg {
    color: darken($outline-color, 10);
  }
}
