@import 'styles/colors.scss';

.root {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  position: relative;
  &:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../../../assets/left.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    // filter: blur(1px);
    filter: grayscale(50%);
    transition: background-image 0.6s ease-in-out;
  }
  > div {
    padding: 1rem 1.5rem 1.4rem;
  }
}

:global(.right-active) {
  .root {
    &:before {
      background-image: url('../../../assets/right.png');
    }
  }
}

.title {
  flex: 1;
  h1 {
    color: #fff;
    font-size: 2.3rem;
    font-weight: 300;
    margin-top: 12px;
    margin-bottom: 17px;
  }
  > span {
    font-size: 0.9rem;
    color: $outline-color;
    line-height: 1;
  }
  z-index: 1;
}
