@import 'styles/colors';

.root {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  max-width: 250px;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
  svg {
    width: 22px;
    height: 22px;
    color: lighten($secondary-color, 30%);
    pointer-events: none;
  }
  span {
    pointer-events: none;
  }
}
