.root {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background: #ffffff;
  width: 800px;
  max-width: 100%;
  min-height: 520px;
}

.form {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  background: #fff;
}

.leftContainer {
  @extend .form;
  left: 0;
  width: 50%;
  z-index: 2;
  // position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    background-image: url('../../../assets/bubble.svg');
    background-repeat: no-repeat;
    background-position: -10px -10px;
    opacity: 1;
  }
}

.rightContainer {
  @extend .form;
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 50%;
    background-image: url('../../../assets/bubble-invert.svg');
    background-repeat: no-repeat;
    background-position: 100% -10px;
    opacity: 1;
  }
}

.overlayContainer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.root:global(.right-active) {
  .leftContainer {
    transform: translateX(100%);
  }
  .rightContainer {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }
  .overlayContainer {
    transform: translateX(-100%);
  }
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}
