@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~@blueprintjs/datetime/lib/css/blueprint-datetime.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Overwrite some styles from Blueprint */
.bp3-control input:focus ~ .bp3-control-indicator,
input:focus,
input:active,
button:active,
button:focus {
  outline: none;
}

:focus {
  outline: none;
}

.panel-button {
  color: #fff !important;
  font-weight: 500;
  border: 1px solid #fff;
  border-radius: 10px;
}

.panel-button > span {
  text-transform: uppercase;
}

.category-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.category-dot.personal {
  background-color: #f2d06c;
}
.category-dot.business {
  background-color: #8a5458;
}
.category-dot.work {
  background-color: #0253b3;
}
.category-dot.family {
  background-color: #ca89fc;
}
