@import 'styles/colors';

.toolbar {
  display: flex;
  padding: 1rem 3.5rem 2rem;
  position: relative;
  &:before {
    content: '';
    transition: opacity 300ms ease;
    opacity: 0;
    position: absolute;
    top: -24px;
    left: -2rem;
    right: -2rem;
    height: 1.6rem;
    background: linear-gradient(
      to top,
      $outline-color 0%,
      rgba(240, 244, 247, 0) 100%
    );
  }
  &.scrolled {
    &:before {
      opacity: 1;
    }
  }
}

.filter {
  button {
    margin: 0 1px;
  }
}

.actions {
  flex: 1 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  button {
    border-radius: 50%;
  }
}
