@import 'styles/colors';

.root {
  display: flex;
  flex-flow: column;
}

.list {
  padding: 1rem 1.5rem;
  overflow-y: auto;
  flex: 1 0 100%;
}

.progress {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  > span {
    color: $outline-color;
    font-size: 0.85rem;
    margin-top: 12px;
  }
  svg {
    :global(.bp3-spinner-track) {
      stroke: rgba($primary-color, 0.2);
    }
    :global(.bp3-spinner-head) {
      stroke: rgba($primary-color, 0.8);
    }
  }
}

.toolbar {
  display: flex;
}

.filter {
  flex: 0 1;
  display: flex;
  align-items: center;
}

.actions {
  flex: 1 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  > * {
    margin: 0 3px;
  }
}
