@import 'styles/colors';

.root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.list {
  padding-bottom: 1rem;
  overflow-y: auto;
}

.progress {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  > span {
    color: $outline-color;
    font-size: 0.85rem;
    margin-top: 12px;
  }
  svg {
    :global(.bp3-spinner-track) {
      stroke: rgba($primary-color, 0.2);
    }
    :global(.bp3-spinner-head) {
      stroke: rgba($primary-color, 0.8);
    }
  }
}

.toolbar {
  display: flex;
  padding: 0.6rem 1rem 0.5rem;
  position: relative;
  &:after {
    content: '';
    transition: opacity 300ms ease;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: -2rem;
    right: -2rem;
    height: 1.6rem;
    background: linear-gradient(
      to bottom,
      $outline-color 0%,
      rgba(240, 244, 247, 0) 100%
    );
  }
  &.scrolled {
    &:after {
      opacity: 1;
    }
  }
}

.filter {
  flex: 0 1;
  display: flex;
  align-items: center;
}

.actions {
  flex: 1 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  > * {
    margin: 0 3px;
  }
}
